<!-- Se usa Template-Driven Forms en Angular -->
<!-- 1️⃣ ¿Qué es ngForm?
         ngForm es una directiva de Angular que:
            👉 Convierte un <form> HTML normal en un formulario manejado por Angular
            👉 Lleva el control del estado del formulario
            👉 Maneja validaciones
            👉 Guarda los valores
    
    Se activa automáticamente cuando importás: import { FormsModule } from '@angular/forms';
-->
<!-- 2️⃣ ¿Qué significa #f="ngForm"?
        Esto crea una variable local de plantilla llamada f.

        Significa:
            👉 f representa el formulario completo
            👉 f es una instancia de NgForm        

        Podés acceder a:
            f.value      // valores del formulario
            f.valid      // si es válido
            f.invalid
            f.controls
            f.form
-->
<!-- 3️⃣ ¿Qué hace (ngSubmit)?
        Cuando el usuario hace click en "Iniciar Sesión":
            1️⃣ Angular ejecuta ngSubmit
            2️⃣ Evalúa: f.form.valid

        Si el formulario es válido (porque los inputs tienen required):
            👉 Entonces ejecuta login(f)            
-->
<!-- 4️⃣ ¿Qué hace ngModel?
        👉 Vincula el input al formulario
        👉 Guarda su valor dentro de f.value
        👉 Permite validaciones
        👉 Hace que Angular controle el estado del campo
-->

<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="card p-4 shadow-sm" style="width: 25rem;">
        <h3 class="text-center mb-4">Iniciar Sesión</h3>
        <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
            <!-- Campo de Email -->
            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" 
                ngModel required />
            </div>
            <!-- Campo de password -->
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" 
                placeholder="Password" ngModel required />
            </div>
            <!-- Botón de Login -->
             <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form>
    </div>
</div>